<div class="brv">
   <div class="brw">
      <h6 class="bry">Dashboards</h6>
      <h3 class="brx">Overview</h3>
   </div>
</div>
<hr class="afc agn">
<div class="qt">
   <div role="tabpanel" class="qu active" id="support" aria-expanded="true">
      <div class="bvf agn">
         <div class="di bsl">
           {{tab-panel color="bqv" title="Current Temperature" subtitle="°F" value=model.temperature}}
           {{tab-panel color="bqy" title="PH" subtitle="" value="8.2" decimals=1}}
           {{tab-panel color="bqw" title="Salinity" subtitle="SG" value="1.025" decimals=3}}
           {{tab-panel color="bqx" title="ORP" subtitle="1.3%" value="0" decimals=1}}
         </div>
      </div>
   </div>
</div>
<hr class="agj">

{{outlet}}
