{{outlet}}
{{#if session.isAuthenticated}}
      <button {{action "signOut" "password"}} >Logout</button>

{{else}}
  <form {{action "signIn" "password" on="submit"}} style="width: 100%">
    <div class="form-item">
      <label>Email</label>
      {{input id="email" class="form-control" style="width: 50%"}}
    </div>  
    <div class="form-item">
      <label>Password</label>
      {{input id="password" type="password" class="form-control" style="width: 50%"}}
    </div>
    <button type="submit">Login</button>
  </form>
{{/if}}