{{yield}}
   <div class="bsm {{color}}">
      <div class="ahm">
         <span class="bqq">{{title}}</span>
         <h2 class="bqp">
            {{format-number value decimals}}
            <small class="bqr">{{subtitle}}</small>
         </h2>
      </div>
   </div>
