{{yield}}
<div class="brg bsb">
  {{pikaday-input id="dateRange" width="100" class="form-control" theme="dark-theme"}}
  <span class="bv bck"></span>
</div>
<span class="bsa axy"></span>
<div class="pz bsb bsd">
   <button type="button" {{action "changeChartInterval" '24' this}} class="time-int ce pi active">Day</button>
   <button type="button" {{action "changeChartInterval" '168' this}} class="time-int ce pi">Week</button>
   <button type="button" {{action "changeChartInterval" '720' this}} class="time-int ce pi">Month</button>
</div>
