<form {{action "submit" on="submit"}} style="width: 100%">
  <div class="form-item">
    <label>Tank</label>
    <select name="tank" style="width: 50%" class="form-control">
      {{#each model.tanks as |tank|}}
        <option value={{tank.id}}>{{tank.name}} - {{tank.gallons}} gal.</option>
      {{/each}}
    </select>
    <span style="width: 10%; padding-left: 3%"></span>
  </div>  
  {{#each model.types as |type|}}
    <div class="form-item">
      <label>{{type.name}}</label>
      <input style="width: 50%" type="text" class="form-control" name={{type.id}} />
      <span style="width: 10%; padding-left: 3%">{{type.unit}}&nbsp;</span>
    </div>
  {{/each}}
  <button class="btn" type="submit">Add</button>
</form>